{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <h1>{{item.title}}: ${{item.price}} Koopprijs</h1>
    <img src="{{item.image}}" width="300">
    <br>
    {{item.description}}
    <br>
    <h3>Dit is de minimum prijs voor een bod: {{ item.min_bid }}</h3>

    <form action="{{item.title}}" method="POST">
        {% csrf_token %}
        <input type="number" min="{{image.min_bid}}" max="{{image.price}}" name="bid">
        <input type="submit" value="Bod doen">
    </form>
    <br>
    <h2>Dit is het huidige bod {{ item.current_bid }} van {{item.bidder}}</h2>
    <h1>Comments</h1>
    

    <!-- {% if user.is_authenticated %}

    {% endif %} -->
{% endblock %}